.sidebar{
  flex:0.2;
  background-color:   #251246;
  color: white;
  height: 100vh;
  flex-shrink: 0;
}
.sideBarIcon{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.sidebarTopContent{
  font-size: 26px;
  
}
.sideBarOptionsBlock{
  margin-top: 30px;

}
.sideBarOptions{
  padding: 20px;
  display: flex;
  gap:10px;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  color:#FFFFFF;
  text-decoration: none;
}
.selectedOption{
  background: #4C1D95;
}